<div id="posts">
  <%= render partial: "posts" %>
</div>

<div id="infinite-posts">
  <%= will_paginate @posts %>
</div>

<!--글 쓰기 버튼-->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="<%= new_post_path %>">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
<!--//-->

<style>
.loginandsignup>ul,li {
  display:inline;
        }
p iframe {
  display: none;
}
p img {
  display: none;
}
</style>
