//footer

.page-footer {
  background-color: #0b1d7b !important;
  padding-top: 10px;
  padding-bottom: 30px !important;

}

.footer_made {
  margin-bottom: 5px;
}

#footer_made_row .row {
  margin-bottom: 0px !important;
}

.footer_made_row_flex{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.onefivetext {
  font-family: 'notoserifkr' !important;
  font-weight: bold !important;
}

.onefivetext2 {
  font-family: 'Noto Sans KR'
}
