.side_empty{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

label{
    color: #0b1d7b!important;
}

.mce-tinymce{
  border-width: 0px!important;
}

.form_subtitle>input::placeholder{
    font-size: 18pt!important;
}

.form_title>input::placeholder{
    font-size: 32pt;
    font-family: 'NotoSerifKR'!important;
}

.form_title>input{
    /* height: 10rem!important; */
    font-size: 32pt;
    font-family: 'NotoSerifKR'!important;
    margin-bottom: 0 !important;
}

.form_songtitle{
    font-weight: bold;
    font-family: 'Notosanskr';
    float: right;
    margin-bottom: 10px;
}

.hiphop{
    margin-top: 50px;
}

.titleNewForm {
    height: 100px !important;
}

#post_title {
  height: 50pt !important;
  border: 0 !important;
  font-family: 'NotoSerifKR'!important;
  font-size: 32pt !important;


}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
