.login_title{
    font-family: 'NotoSerifKR';
    color: #282828;
    font-size: 24pt!important;
    margin-bottom: 16px;
    margin-top: 8px!important;
}

.login_things{
    width: 400px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 150px!important;
    vertical-align: middle!important;
    border-radius: 10px!important;
}

body.login-body {
    background-image: url('loginbackground.jpg');
    background-size: cover;
}

.result-class {
  font-size: 10px;
}
