#modal1 {
  width: 1026px;
}

.tabs {
  margin-top: 50px !important;
  background-color: inherit !important;
}

.tabs .tab a{
            // color: grey;
            font-size: 27pt !important;
        }

.tabs .tab a:focus, .tabs .tab a:focus.active {
  display: none;
}

.tabs .indicator {
    height: 0px !important;
    background-color: black !important;
} /*Color of underline*/

// .session1_li{
//   color: #7a7a7a !important
// }

.session_active {
  margin-left: 50px !important;
  margin-right: 50px !important;
  // color: #7a7a7a;
}

#search123 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: "Noto Sans KR" !important;
}
//search1
.search_input {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.search_input_div {
  width: 446px;
}

.search_input_div_bar {
  border-radius: 1px;
}

.search_icon_row {
  display: flex !important;
  flex-direction: column-reverse !important;
  justify-content: center;
}

.search_icon {
  color: #434343 !important ;
  display: inline !important;
  margin-top: 10px;
  margin-right: 10px;
}
//search2
#search2 {
  display: flex !important;
  justify-content: center !important;
  color: #7a7a7a !important;
  font-size: 28pt;
  margin-top: 25px;
}

.search2_son {
  margin-right: 50px;
  margin-left: 50px;
}


//search3

#search3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search_music {
  display: flex;
  flex-direction: column;
}

#search_music_img {
  width: 80px !important;
  height: 80px !important;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 5px;
  float: left;
}

#search_music_article {
  display:flex;
  flex-direction: column;
  padding-left: 5px;
}

.search_music_item {
  color: black !important;
  font-family: "Noto Sans KR" !important;
  font-size: 16pt;
  line-height: 19px;
  margin-top: 10px;
}

.search_music_title {
  color: #0b1d7b !important;
  font-family: "Noto Sans KR" !important;
  font-size: 18pt;
  font-weight: bold;
  line-height: 19px;
  margin-top: 10px;
  padding-left: 0px;
}

.music_item1 {
  font-size: 21pt !important;
  line-height: 21px !important;
}

.music_item4 {
  font-size: 21pt !important;
  font-weight: bold !important;

}


#search_hrTag {
  margin-top: 15px;
  border-radius: 1px;
  width: 520px;
}


.tabs .tab a:hover {
  color: #0b1d7b !important;
}

.search_center_form {
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 65px;
}

.search_hrTag_bottom {
  margin-bottom: 15px;
}
