.navPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .brand-logo {
  position: relative !important;
}

.navCenterWrite {
  font-family: 'NotoSerifKR';
  font-weight: bold;
  font-size: 22pt;
}

@media only screen and (min-width: 993px) {
   nav a.button-collapse {
    display: block !important;
   }
 }

#navbarCssRight {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
