// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav{
  margin-bottom: 80px !important;
}

.p_content{
  width: 866px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.card_top{
  height: 25px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  width: 14px;
  float: right;
}

.content_title{
  font-family: 'notosanskr';
  font-size: 24pt;
  font-weight: bold;
  color: #0b1d7b;
  margin-bottom: 6px;
  margin-top: 25px;
}

.content_song{
  font-family: 'Notosanskr';
  font-size: 14pt;
  font-style: italic;
  color: #0b1d7b;
  margin-top: 12px;
  margin-bottom: 10px;
}

.content_subtitle{
  font-size: 12pt;
  color: #0b1d7b;
  margin-top: 13px;
  margin-bottom: 13px;
  line-height: 18pt;
  font-weight: lighter;
  font-family: 'Notosanskr';
}

.content_preview{
  font-size: 12pt;
  color: #1f1f1f;
  font-style: italic;
  line-height: 14pt;
  font-family: 'Noto Serif', serif;
}

.card-content{
  padding: 25px 60px 30px 60px !important;
}

.card-action{
  background-color: #f3f3f3 !important;
  color: #0b1d7b !important;
  height: 40px;
  padding: 0px !important;
  border: 0px !important;
}

.things{
  padding: 9px 30px 9px 30px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	font-family: 'notosanskr';
}

.things_favorite{
  margin-top: 4px;
}

.things_comment{
  margin-top: 4px;
}

.things_commentcount{
  margin-left: 10px;
  margin-right: 20px;
  font-size: 12pt;
  margin-bottom: 5px;
  margin-top: 4px;
  padding-top: 1px;
}

.things_favoritecount{
  margin-left: 10px;
  font-size: 12pt;
  margin-bottom: 5px;
  margin-top: 4px;
  padding-top: 1px;
}

.things_empty{
  width:275px;
}

.things_text{
  font-size: 10pt !important;
  margin-top: 5px;
  margin-left: auto;
}

.card_image_size {
  width: 273px !important;
  height: 362px;
}
#card-align {
  margin: 0px;
  color: #0b1d7b;
}

.things_flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
