#editPage{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 346px;
  font-family: "Noto Sans KR" !important;
}

#profileEditImg {
  margin-top: 80px;
  width: 150px;
  height: 150px;
}

#changeImage_edit {
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 13pt;
  color: black;
  text-decoration: underline;
}

.profileEditElement {
  display: flex;
  width: 346px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18pt !important;
}

.testtest {
  width: 100%;
}

.all_element_editProfile{
  margin-top: 10px;
}

.nameLabel {
  margin-top:55px;
}

.oneLineLable {
  margin-top: 60px;
}

#profileEditTextArea {
  margin-top: 1rem;
  width: 346px !important;
  height: 70px !important;
  resize: none;
  border-radius: 8px;
  border: 1px solid #7a7a7a;
  padding: 10px 20px 10px 20px;
  width: 200px;
  height: 150px;
  outline: none;

}

#passwordLable {
  margin-top: 60px;
}

#passwordConfirmLabel {
  margin-top: 55px;
}

#alertLabel {
  margin-top: 55px;
  font-size: 18pt !important;
}

.elementOfAlert {
  font-family: "Noto Sans KR" !important;
  font-size: 12pt;
}

.eleAlert {
  display: flex;
  width: 346px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#EditProfile_hrTag {
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 1px;
  width: 346px;
}

#submitEditProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitEditProfileButton {
  width: 80px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #7a7a7a;
  display: table-cell;
  font-size: 18pt;
  font-family: "Noto Sans KR" !important;
  margin-bottom: 200px;

}
