<footer class="page-footer">
 <div id="footer_made_row" class="container">
   <div class="row footer_made_row_flex">
     <div class="col l3 s12">
       <h5 class="white-text onefivetext">한 / 시 / 오 / 분</h5>
       <p class="grey-text text-lighten-4">음악은 기억과 함께.</p>
     </div>
     <div class="col l6 offset-l3 s12 onefivetext2">
       <h5 class="white-text">만든 이</h5>
       <ul>
         <li class="footer_made"><a class=" grey-text text-lighten-3" href="#!">기획 | 박현규 이지민</a></li>
         <li class="footer_made"><a class=" grey-text text-lighten-3" href="#!">개발 | 김은식 박현규 이우빈 이지민 이혜진 장성원</a></li>
         <li class="footer_made"><a class="grey-text text-lighten-3" href="#!">디자인 | 박현규</a></li>
       </ul>
     </div>
   </div>
 </div>

</footer>
